In [1]:
# importing necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/tweets.csv")
df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [3]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
columns = ["target", "id", "date", "query", "user", "tweet"]
df = pd.read_csv("data/tweets.csv",names=columns)

In [5]:
df

,target,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [6]:
# we only need the target and the tewwt(text) for sentiment anlaysis so we only took those columns

df = df[["target", "tweet"]]
df

         target                                              tweet
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [7]:
# Take first 40,000 and last 40,000 rows
df= pd.concat([df.head(40000), df.tail(40000)], ignore_index=True)

# Task 1 --> clean and preprocess text (in tweet column)

### Step 1 - removing null or missing values

In [8]:
df.isnull().sum()

# not any null or miising values in both columns so we need not manga the missing values

target    0
tweet     0
dtype: int64

### Step 2 - cleaning the text

In [9]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [10]:
nltk.download('punkt')
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

[nltk_data] Downloading package punkt to /home/aashish/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/aashish/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
cleaned_tweets = []

for text in df['tweet']:
    # 1. Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # 2. Remove Mentions (@usernames)
    text = re.sub(r'@\w+', '', text)
    
    # 3. Remove Hashtags
    text = re.sub(r'#\w+', '', text)
    
    # 4. Remove Punctuation and Special Characters
    text = re.sub(r'[^\w\s]', '', text)
    
    # 5. Convert to lowercase
    text = text.lower()
    
    # 6. Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # 7. Tokenize
    tokens = word_tokenize(text)
    
    # 8. Remove stopwords
    filtered_tokens = []
    for word in tokens:
        if word not in stop_words:
            filtered_tokens.append(word)
    
    # 9. Stemming
    stemmed_tokens = []
    for word in filtered_tokens:
        stemmed_tokens.append(stemmer.stem(word))
    
    # 10. Join tokens back to string
    cleaned_text = ' '.join(stemmed_tokens)
    
    cleaned_tweets.append(cleaned_text)

df['tweet'] = cleaned_tweets

In [12]:
df

       target                                              tweet
0           0       that bummer shoulda got david carr third day
1           0  upset cant updat facebook text might cri resul...
2           0       dive mani time ball manag save rest go bound
3           0                    whole bodi feel itchi like fire
4           0                              behav im mad cant see
...       ...                                                ...
79995       4                         woke school best feel ever
79996       4             thewdbcom cool hear old walt interview
79997       4                       readi mojo makeov ask detail
79998       4  happi th birthday boo alll time tupac amaru sh...
79999       4                                              happi

[80000 rows x 2 columns]

# Task 2 --> Vectorize using TF-IDF or Word Embeddings.

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create the vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the cleaned tweet column
tfidf_matrix = tfidf_vectorizer.fit_transform(df['tweet'])


tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 551334 stored elements and shape (80000, 44517)>

# Task 3 --> Train a classifier to predict positive/negative sentiment.

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

# Prepare X and y
X = tfidf_matrix
y = df['target'].replace({4: 1})  # convert 4 â†’ 1 for binary classification

# Split into train/test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Train the Logistic Regression model
model = LogisticRegression(max_iter=1000)  # increase max_iter if needed
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.767625

Classification Report:
               precision    recall  f1-score   support

           0       0.78      0.75      0.76      8002
           1       0.76      0.79      0.77      7998

    accuracy                           0.77     16000
   macro avg       0.77      0.77      0.77     16000
weighted avg       0.77      0.77      0.77     16000

In [27]:
import joblib

# Save the TF-IDF vectorizer
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.pkl')

# Save the trained Logistic Regression model
joblib.dump(model, 'logistic_model.pkl')

['logistic_model.pkl']

# Defining helper functions for easier testing and reuse

In [37]:
# Load from file
def load_model_and_vectorizer(model_path='logistic_model.pkl', vectorizer_path='tfidf_vectorizer.pkl'):
    model = joblib.load(model_path)
    vectorizer = joblib.load(vectorizer_path)
    return model, vectorizer

In [38]:
def preprocess_text(text):
    # 1. Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)

    # 2. Remove Mentions
    text = re.sub(r'@\w+', '', text)

    # 3. Remove Hashtags
    text = re.sub(r'#\w+', '', text)

    # 4. Remove Punctuation and Special Characters
    text = re.sub(r'[^\w\s]', '', text)

    # 5. Convert to lowercase
    text = text.lower()

    # 6. Remove numbers
    text = re.sub(r'\d+', '', text)

    # 7. Tokenize
    tokens = word_tokenize(text)

    # 8. Remove stopwords and apply stemming
    processed_tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]

    # 9. Join back into string
    cleaned_text = ' '.join(processed_tokens)

    return cleaned_text

In [39]:
def predict_sentiment(text, model, vectorizer):
    preprocessed_text = preprocess_text(text)
    vector = vectorizer.transform([preprocessed_text])
    prediction = model.predict(vector)[0]
    return "Positive" if prediction == 1 else "Negative"

In [41]:
## sample testing 

# Load everything
model, vectorizer = load_model_and_vectorizer()

text = "I love using this new app! So smooth."
result = predict_sentiment(text, model, vectorizer)
print("Sentiment:", result)

Sentiment: Positive